# Dependencias
node_modules/

# Entornos y Secretos
.env
.env.local
.env.development
.env.test
.env.production
*.pem

# Archivos de Build y Compilación
dist/
build/
/frontend/dist/
.next/
out/

# Logs e Invariantes
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log
pids
*.pid
*.seed
*.pid.lock
crashes/

# Assets de Usuarios
/backend/uploads/*
!/backend/uploads/.gitkeep

# Archivos de Sistema Operativo y Editores
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Archivos temporales de Test
coverage/
.nyc_output/
