# Base Configurations (Values can be retrieved from AWS Secrets Manager / Vault in Cloud)
NODE_ENV=development
PORT=5000

# Database Configs (Store passwords behind Docker Secrets)
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=secret_local
DB_DATABASE=ecommerce_camisetas

# Cryptography
JWT_SECRET=super_secret_dev_key
JWT_EXPIRES_IN=15m          # Shorter TTL for dual-token system

# Integrations
STRIPE_SECRET_KEY=sk_test_...
FRONTEND_URL=http://localhost:5173

# Caching & PubSub
REDIS_URL=redis://127.0.0.1:6379
